body
  font-family: 'Raleway', sans-serif;
  padding: 0px
  margin: 0
  font-size: 14px

img
  width: 100%

h1,h2,h3,h4,h5,h6
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
  margin: 0

a
  display: block;
  padding: 20px
